body {
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(95, 226, 121);
    border: 2px solid rgb(241, 101, 101);
    }
    
    .Todo-Item:hover .trash-icon{
      display:block;
    }